PowerAutomate/code/ParseMessagesInSleepTimesMailbox/Microsoft.Flow/flows/3837f4c0-112d-40aa-9bcc-92483a26fc22/definition.json
{"name":"00567ac3-2a0b-46eb-9a94-54a0e068ccb0","id":"/providers/Microsoft.Flow/flows/00567ac3-2a0b-46eb-9a94-54a0e068ccb0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Parse messages in sleeptimes mailbox","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"7dd5f4ff-6642-4231-89cb-c2f3b71f50cf","type":"User","tenantId":"1f41d613-d3a1-4ead-918d-2a25b10de330"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-05-07T18:32:38.0148694Z","connectionKeySavedTimeKey":"2025-05-07T18:32:38.0148694Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Run_on_a_Schedule":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2024-01-28T05:00:00.000Z","timeZone":"Eastern Standard Time","schedule":{"hours":["8","9","10","11","12","16","23","14","6","20","18","7","3"],"minutes":[5,25,45]}},"type":"Recurrence"}},"actions":{"Get_emails_(V3)":{"runAfter":{"Initialize_variable_-_tmpUserEnteredTime":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"Inbox","fetchOnlyUnread":false,"mailboxAddress":"@variables('SharedMailboxAddress')","includeAttachments":true,"searchQuery":"(NOT from:\\\"med.umich.edu\\\") AND (NOT from:\\\"umich.edu\\\")","top":25},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEmailsV3"},"authentication":"@parameters('$authentication')"}},"Loop_through_each_email":{"foreach":"@outputs('Get_emails_(V3)')?['body/value']","actions":{"Process_Only_If_Participant_Id_and_Marker_Were_Found":{"actions":{"Move_email_to_Processed_folder":{"runAfter":{"Add_a_row_into_a_table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"messageId":"@items('Loop_through_each_email')?['id']","folderPath":"Data-Processed","mailboxAddress":"@variables('SharedMailboxAddress')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"MoveV2"},"authentication":"@parameters('$authentication')"}},"Add_a_row_into_a_table":{"runAfter":{"Extract_time_from_text_if_possible_or_use_the_time_received":["Succeeded"]},"limit":{"timeout":"PT1M"},"metadata":{"01PL5YIASNQKWQC42OXZBLSZENEHK6UIFB":"/Helen-SleepTimesMailboxData/SleepTimesMailboxData.xlsx","tableId":"{3CEC5E1B-E7B6-4C1D-92B8-28CA92DB8E7C}","01PL5YIATYEST4P5ZICVHKFN7CLXYQBYL5":"/EmailSleepMarkers-SleepTimesMailbox/EmailSleepMakers.xlsx","01PL5YIAXZM2RBNDKJONGYFBGYX7SQWRS5":"/EmailSleepMarkers-SleepTimesMailbox/EmailSleepMarkers.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!M1Kws2NHQEWjCIkFtpBOKSHvJHICdKlIqCWiwpw6J01Q_pwbMCLOT6lFkIaBdift","file":"01PL5YIAXZM2RBNDKJONGYFBGYX7SQWRS5","table":"{3CEC5E1B-E7B6-4C1D-92B8-28CA92DB8E7C}","dateTimeFormat":"ISO 8601","item/ParticipantID":"@{variables('tmpParticipantId')}","item/SleepDatetime":"@if(\r\n\tequals(variables('tmpIsSleepOrWakeMarker'), 'sleep'),\r\n\tif(\r\n\t\tequals( coalesce(variables('tmpUserEnteredTime'),''), ''),\r\n\t\tbody('Convert_UTC_to_Eastern_Time_Zone'),\r\n\t\tvariables('tmpUserEnteredTime')\r\n\t),\r\n\tnull\r\n)","item/WakeDatetime":"@if(\r\n\tequals(variables('tmpIsSleepOrWakeMarker'), 'wake'),\r\n\tif(\r\n\t\tequals( coalesce(variables('tmpUserEnteredTime'),''), ''),\r\n\t\tbody('Convert_UTC_to_Eastern_Time_Zone'),\r\n\t\tvariables('tmpUserEnteredTime')\r\n\t),\r\n\tnull\r\n)","item/MessageDatetime":"@body('Convert_UTC_to_Eastern_Time_Zone')","item/FromAddress":"@items('Loop_through_each_email')?['from']","item/MessageBody":"@variables('tmpMessageContent')","item/AttachmentContents":"@variables('tmpAttachmentContent')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness-1","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}},"Move_email_to_Failed_folder_on_error":{"runAfter":{"Add_a_row_into_a_table":["Failed","TimedOut"]},"limit":{"timeout":"PT1M"},"metadata":{"Id::AAMkADE4MjZkNmU3LWRjY2EtNGVkOC05M2NhLTAzZDkwOTg2NmZmMgAuAAAAAAAu9U_94AkQR5tRvawYp94MAQBlZc8NyDv1Trd_qyBjoWD5AAAJBSRJAAA=":"TEST"},"type":"OpenApiConnection","inputs":{"parameters":{"messageId":"@items('Loop_through_each_email')?['id']","folderPath":"Data-Failed","mailboxAddress":"@variables('SharedMailboxAddress')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"MoveV2"},"authentication":"@parameters('$authentication')"}},"Extract_time_from_text_if_possible_or_use_the_time_received":{"actions":{"Try_extracting_time_from_text":{"type":"Compose","inputs":"@if(\r\n\tand(\r\n\t\tor(\r\n\t\t\tendsWith( toLower(trim(replace( variables('tmpMessageContent'), '.', ''))), 'am' ),\r\n\t\t\tendsWith( toLower(trim(replace( variables('tmpMessageContent'), '.', ''))), 'pm' )\r\n\t\t),\r\n\t\tcontains( replace(toLower(trim( variables('tmpMessageContent') )), ': ', ' '), ':' ),\r\n\t\tgreater(\r\n\t\t\tlength(\r\n\t\t\t\tlast(split( trim(replace(replace(replace(toLower(trim( variables('tmpMessageContent') )), '.', ''),' am', 'am'), ' pm', 'pm')) , ' ' ))\r\n\t\t\t),\r\n\t\t\t4\r\n\t\t),\r\n\t\tless(\r\n\t\t\tlength(\r\n\t\t\t\tlast(split( trim(replace(replace(replace(toLower(trim( variables('tmpMessageContent') )), '.', ''),' am', 'am'), ' pm', 'pm')) , ' ' ))\r\n\t\t\t),\r\n\t\t\t8\r\n\t\t),\r\n\t\tisInt(\r\n\t\t\ttrim(\r\n\t\t\t\tfirst(\r\n\t\t\t\t\tsplit(\r\n\t\t\t\t\t\tlast(\r\n\t\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\t\ttrim(replace(replace(replace(toLower(trim( variables('tmpMessageContent') )), '.', ''),' am', 'am'), ' pm', 'pm')),\r\n\t\t\t\t\t\t\t\t' '\r\n\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t),\r\n\t\t\t\t\t\t':'\r\n\t\t\t\t\t)\r\n\t\t\t\t)\r\n\t\t\t)\r\n\t\t),\r\n\t\tisInt(\r\n\t\t\ttrim(\r\n\t\t\t\tlast(\r\n\t\t\t\t\tsplit(\r\n\t\t\t\t\t\tlast(\r\n\t\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\t\ttrim(replace(replace(replace(toLower(trim( variables('tmpMessageContent') )), '.', ''),'am', ''), 'pm', '')) ,\r\n\t\t\t\t\t\t\t\t' '\r\n\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t),\r\n\t\t\t\t\t\t':'\r\n\t\t\t\t\t)\r\n\t\t\t\t)\r\n\t\t\t)\r\n\t\t)\r\n\t),\r\n   \r\n\tconcat(\r\n\t\tformatDateTime(body('Convert_UTC_to_Eastern_Time_Zone'), 'MM-dd-yyyy'),\r\n\t\t' ',\r\n\t\ttoUpper(\r\n\t\t\treplace(\r\n\t\t\t\treplace(\r\n\t\t\t\t\treplace(\r\n\t\t\t\t\t\tlast(\r\n\t\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\t\ttrim(\r\n\t\t\t\t\t\t\t\t\treplace(replace(replace(toLower(trim( variables('tmpMessageContent') )), '.', ''),' am', 'am'), ' pm', 'pm')\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\t' '\r\n\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t),\r\n\t\t\t\t\t\t'am',\r\n\t\t\t\t\t\t' am'\r\n\t\t\t\t\t),\r\n\t\t\t\t\t'pm',\r\n\t\t\t\t\t' pm'\r\n\t\t\t\t),\r\n\t\t\t\t'  ',\r\n\t\t\t\t' '\r\n\t\t\t)\r\n\t\t)\r\n\t),\r\n\t\r\n\tif(\r\n\t\tand(\r\n\t\t\tor(\r\n\t\t\t\tendsWith( toLower(trim(replace( variables('tmpAttachmentContent'), '.', ''))), 'am' ),\r\n\t\t\t\tendsWith( toLower(trim(replace( variables('tmpAttachmentContent'), '.', ''))), 'pm' )\r\n\t\t\t),\r\n\t\t\tcontains( replace(toLower(trim( variables('tmpAttachmentContent') )), ': ', ' '), ':' ),\r\n\t\t\tgreater(\r\n\t\t\t\tlength(\r\n\t\t\t\t\tlast(split( trim(replace(replace(replace(toLower(trim( variables('tmpAttachmentContent') )), '.', ''),' am', 'am'), ' pm', 'pm')) , ' ' ))\r\n\t\t\t\t),\r\n\t\t\t\t4\r\n\t\t\t),\r\n\t\t\tless(\r\n\t\t\t\tlength(\r\n\t\t\t\t\tlast(split( trim(replace(replace(replace(toLower(trim( variables('tmpAttachmentContent') )), '.', ''),' am', 'am'), ' pm', 'pm')) , ' ' ))\r\n\t\t\t\t),\r\n\t\t\t\t8\r\n\t\t\t),\r\n\t\t\tisInt(\r\n\t\t\t\ttrim(\r\n\t\t\t\t\tfirst(\r\n\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\tlast(\r\n\t\t\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\t\t\ttrim(replace(replace(replace(toLower(trim( variables('tmpAttachmentContent') )), '.', ''),' am', 'am'), ' pm', 'pm')),\r\n\t\t\t\t\t\t\t\t\t' '\r\n\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t':'\r\n\t\t\t\t\t\t)\r\n\t\t\t\t\t)\r\n\t\t\t\t)\r\n\t\t\t),\r\n\t\t\tisInt(\r\n\t\t\t\ttrim(\r\n\t\t\t\t\tlast(\r\n\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\tlast(\r\n\t\t\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\t\t\ttrim(replace(replace(replace(toLower(trim( variables('tmpAttachmentContent') )), '.', ''),'am', ''), 'pm', '')) ,\r\n\t\t\t\t\t\t\t\t\t' '\r\n\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t':'\r\n\t\t\t\t\t\t)\r\n\t\t\t\t\t)\r\n\t\t\t\t)\r\n\t\t\t)\r\n\t\t),\r\n\t   \r\n\t\tconcat(\r\n\t\t\tformatDateTime(body('Convert_UTC_to_Eastern_Time_Zone'), 'MM-dd-yyyy'),\r\n\t\t\t' ',\r\n\t\t\ttoUpper(\r\n\t\t\t\treplace(\r\n\t\t\t\t\treplace(\r\n\t\t\t\t\t\treplace(\r\n\t\t\t\t\t\t\tlast(\r\n\t\t\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\t\t\ttrim(\r\n\t\t\t\t\t\t\t\t\t\treplace(replace(replace(toLower(trim( variables('tmpAttachmentContent') )), '.', ''),' am', 'am'), ' pm', 'pm')\r\n\t\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\t\t' '\r\n\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t'am',\r\n\t\t\t\t\t\t\t' am'\r\n\t\t\t\t\t\t),\r\n\t\t\t\t\t\t'pm',\r\n\t\t\t\t\t\t' pm'\r\n\t\t\t\t\t),\r\n\t\t\t\t\t'  ',\r\n\t\t\t\t\t' '\r\n\t\t\t\t)\r\n\t\t\t)\r\n\t\t),\r\n\t\t\r\n\t\tif(\r\n\t\t\tand(\r\n\t\t\t\tor(\r\n\t\t\t\t\tendsWith( toLower(trim(replace( coalesce(items('Loop_through_each_email')?['subject'],''), '.', ''))), 'am' ),\r\n\t\t\t\t\tendsWith( toLower(trim(replace( coalesce(items('Loop_through_each_email')?['subject'],''), '.', ''))), 'pm' )\r\n\t\t\t\t),\r\n\t\t\t\tcontains( replace(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), ': ', ' '), ':' ),\r\n\t\t\t\tgreater(\r\n\t\t\t\t\tlength(\r\n\t\t\t\t\t\tlast(split( trim(replace(replace(replace(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), '.', ''),' am', 'am'), ' pm', 'pm')) , ' ' ))\r\n\t\t\t\t\t),\r\n\t\t\t\t\t4\r\n\t\t\t\t),\r\n\t\t\t\tless(\r\n\t\t\t\t\tlength(\r\n\t\t\t\t\t\tlast(split( trim(replace(replace(replace(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), '.', ''),' am', 'am'), ' pm', 'pm')) , ' ' ))\r\n\t\t\t\t\t),\r\n\t\t\t\t\t8\r\n\t\t\t\t),\r\n\t\t\t\tisInt(\r\n\t\t\t\t\ttrim(\r\n\t\t\t\t\t\tfirst(\r\n\t\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\t\tlast(\r\n\t\t\t\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\t\t\t\ttrim(replace(replace(replace(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), '.', ''),' am', 'am'), ' pm', 'pm')),\r\n\t\t\t\t\t\t\t\t\t\t' '\r\n\t\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\t':'\r\n\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t)\r\n\t\t\t\t\t)\r\n\t\t\t\t),\r\n\t\t\t\tisInt(\r\n\t\t\t\t\ttrim(\r\n\t\t\t\t\t\tlast(\r\n\t\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\t\tlast(\r\n\t\t\t\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\t\t\t\ttrim(replace(replace(replace(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), '.', ''),'am', ''), 'pm', '')) ,\r\n\t\t\t\t\t\t\t\t\t\t' '\r\n\t\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\t':'\r\n\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t)\r\n\t\t\t\t\t)\r\n\t\t\t\t)\r\n\t\t\t),\r\n\t\t   \r\n\t\t\tconcat(\r\n\t\t\t\tformatDateTime(body('Convert_UTC_to_Eastern_Time_Zone'), 'MM-dd-yyyy'),\r\n\t\t\t\t' ',\r\n\t\t\t\ttoUpper(\r\n\t\t\t\t\treplace(\r\n\t\t\t\t\t\treplace(\r\n\t\t\t\t\t\t\treplace(\r\n\t\t\t\t\t\t\t\tlast(\r\n\t\t\t\t\t\t\t\t\tsplit(\r\n\t\t\t\t\t\t\t\t\t\ttrim(\r\n\t\t\t\t\t\t\t\t\t\t\treplace(replace(replace(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), '.', ''),' am', 'am'), ' pm', 'pm')\r\n\t\t\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\t\t\t' '\r\n\t\t\t\t\t\t\t\t\t)\r\n\t\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t\t'am',\r\n\t\t\t\t\t\t\t\t' am'\r\n\t\t\t\t\t\t\t),\r\n\t\t\t\t\t\t\t'pm',\r\n\t\t\t\t\t\t\t' pm'\r\n\t\t\t\t\t\t),\r\n\t\t\t\t\t\t'  ',\r\n\t\t\t\t\t\t' '\r\n\t\t\t\t\t)\r\n\t\t\t\t)\r\n\t\t\t),\r\n\t\t\t\r\n\t\t\t''\r\n\t\t)\r\n\t)\r\n)"},"Try_converting_extracted_time_to_date-time_to_ensure_it_is_valid":{"runAfter":{"Try_extracting_time_from_text":["Succeeded"]},"type":"Compose","inputs":"@parseDateTime(coalesce(outputs('Try_extracting_time_from_text'),''))"},"Save_time_to_tmpUserEnteredTime":{"runAfter":{"Try_converting_extracted_time_to_date-time_to_ensure_it_is_valid":["Succeeded"]},"type":"SetVariable","inputs":{"name":"tmpUserEnteredTime","value":"@outputs('Try_converting_extracted_time_to_date-time_to_ensure_it_is_valid')"}},"If_error_leave_tmpUserEnteredTime_blank":{"runAfter":{"Try_converting_extracted_time_to_date-time_to_ensure_it_is_valid":["Failed"]},"type":"SetVariable","inputs":{"name":"tmpUserEnteredTime","value":"@null"}},"Ignore_Errors":{"runAfter":{"If_error_leave_tmpUserEnteredTime_blank":["Succeeded","Failed","Skipped"],"Save_time_to_tmpUserEnteredTime":["Succeeded","Failed","Skipped"]},"type":"Compose","inputs":"Empty compose action needed to close out errors in this scope"}},"runAfter":{"Convert_UTC_to_Eastern_Time_Zone":["Succeeded"]},"type":"Scope"},"Convert_UTC_to_Eastern_Time_Zone":{"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@items('Loop_through_each_email')?['receivedDateTime']","sourceTimeZone":"UTC","destinationTimeZone":"Eastern Standard Time","formatString":"o"}}},"runAfter":{"Determine_Sleep_Marker_Type":["Succeeded"]},"else":{"actions":{"Move_email_to_Failed_folder":{"limit":{"timeout":"PT1M"},"metadata":{"Id::AAMkADE4MjZkNmU3LWRjY2EtNGVkOC05M2NhLTAzZDkwOTg2NmZmMgAuAAAAAAAu9U_94AkQR5tRvawYp94MAQBlZc8NyDv1Trd_qyBjoWD5AAAJBSRJAAA=":"TEST"},"type":"OpenApiConnection","inputs":{"parameters":{"messageId":"@items('Loop_through_each_email')?['id']","folderPath":"Data-Failed","mailboxAddress":"@variables('SharedMailboxAddress')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"MoveV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"not":{"equals":["@variables('tmpParticipantId')","UNKNOWN"]}},{"or":[{"equals":["@variables('tmpIsSleepOrWakeMarker')","wake"]},{"equals":["@variables('tmpIsSleepOrWakeMarker')","sleep"]}]}]},"type":"If"},"Clear_Temporary_Variables":{"actions":{"Clear_tmpAttachmentContent_variable":{"type":"SetVariable","inputs":{"name":"tmpAttachmentContent","value":"@{null}"}},"Clear_tmpMessageContent_variable":{"runAfter":{"Clear_tmpAttachmentContent_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"tmpMessageContent","value":"@{null}"}},"Set_default_tmpParticipantId":{"runAfter":{"Clear_tmpUserEnteredTime":["Succeeded"]},"type":"SetVariable","inputs":{"name":"tmpParticipantId","value":"UNKNOWN"}},"Clear_tmpSleepOrWakeMarker":{"runAfter":{"Clear_tmpMessageContent_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"tmpIsSleepOrWakeMarker","value":"@{null}"}},"Clear_tmpUserEnteredTime":{"runAfter":{"Clear_tmpSleepOrWakeMarker":["Succeeded"]},"type":"SetVariable","inputs":{"name":"tmpUserEnteredTime","value":"@null"}}},"type":"Scope"},"Extract_Body_and_Attachment_Contents":{"actions":{"Check_if_email_has_attachments":{"actions":{"Loop_through_each_attachment":{"foreach":"@items('Loop_through_each_email')?['attachments']","actions":{"Check_if_attachment_is_text":{"actions":{"Extract_attachment_content_and_append_to_tmp_variable":{"type":"AppendToStringVariable","inputs":{"name":"tmpAttachmentContent","value":"@toLower(trim(decodeBase64(items('Loop_through_each_attachment')?['contentBytes'])))"}}},"else":{"actions":{}},"expression":{"and":[{"startsWith":["@trim(toLower(items('Loop_through_each_attachment')?['contentType']))","text"]},{"equals":["@coalesce(items('Loop_through_each_attachment')?['isInline'],false)","@false"]}]},"type":"If"}},"type":"Foreach"}},"runAfter":{"Convert_Body_to_HTML_If_Needed":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@items('Loop_through_each_email')?['hasAttachments']",true]}]},"type":"If"},"Convert_Body_to_HTML_If_Needed":{"actions":{"Set_tmpMessageContent_to_email_body_text_without_HTML":{"type":"SetVariable","inputs":{"name":"tmpMessageContent","value":"@trim(replace(toLower(trim(items('Loop_through_each_email')?['bodyPreview'])),'external email - use caution',''))"}}},"else":{"actions":{"Set_tmpMessageContent_to_email_body_as_is":{"type":"SetVariable","inputs":{"name":"tmpMessageContent","value":"@trim(replace(toLower(trim(items('Loop_through_each_email')?['body'])),'external email - use caution',''))"}}}},"expression":{"or":[{"contains":["@items('Loop_through_each_email')?['body']","<html"]},{"contains":["@items('Loop_through_each_email')?['body']","<HTML"]},{"equals":["@items('Loop_through_each_email')?['isHtml']","@bool(true)"]}]},"type":"If","description":"This step checks if the body contains both an opening and closing HTML tag, so that the flow does not waste time waiting for the HTML-to-text conversion step when it is not needed."},"Check_if_email_body_has_generic_MMS_message_or_is_blank":{"actions":{"Replace_tmpMessageContent_with_attachment_content":{"type":"SetVariable","inputs":{"name":"tmpMessageContent","value":"@variables('tmpAttachmentContent')"}}},"runAfter":{"Check_if_email_has_attachments":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"contains":["@variables('tmpMessageContent')","QuickTime"]},{"startsWith":["@variables('tmpMessageContent')","This picture message"]},{"equals":["@variables('tmpMessageContent')","@string('')"]},{"equals":["@variables('tmpMessageContent')","@variables('tmpAttachmentContent')"]}]},"type":"If"}},"runAfter":{"Clear_Temporary_Variables":["Succeeded"]},"type":"Scope"},"Extract_Participant_Id":{"actions":{"Extract_Participant_Id_From_Body_or_Attachment":{"type":"SetVariable","inputs":{"name":"tmpParticipantId","value":"@if(\r\n\tand(\r\n\t\tnot(startsWith(toLower(trim( variables('tmpMessageContent') )), 'wak')),\r\n\t\tnot(startsWith(toLower(trim( variables('tmpMessageContent') )), 'awak')),\r\n\t\tnot(startsWith(toLower(trim( variables('tmpMessageContent') )), 'sleep')),\r\n\t\tnot(startsWith(toLower(trim( variables('tmpMessageContent') )), 'asleep')),\r\n\t\tnot(startsWith(toLower(trim( variables('tmpMessageContent') )), 'bed')),\r\n\t\tnot(startsWith(toLower(trim( variables('tmpMessageContent') )), 'time')),\r\n\t\tnot(startsWith(toLower(trim( variables('tmpMessageContent') )), 'hi')),\r\n\t\tnot(startsWith(toLower(trim( variables('tmpMessageContent') )), 'hello')),\r\n\t\tnot(startsWith(toLower(trim( variables('tmpMessageContent') )), 'good')),\r\n\t\tnot(startsWith(toLower(trim( variables('tmpMessageContent') )), 're:')),\r\n\t\tor(\r\n\t\t\tcontains(variables('tmpMessageContent'),' '),\r\n\t\t\tcontains(variables('tmpMessageContent'),','),\r\n\t\t\tand(\r\n\t\t\t\tnot(contains( variables('tmpMessageContent') , ' ' )),\r\n\t\t\t\tnot(contains( variables('tmpMessageContent') , ',')),\r\n\t\t\t\tgreater( length(trim( variables('tmpMessageContent') )), 1 ),\r\n\t\t\t\tless( length(trim( variables('tmpMessageContent') )), 10 ),\r\n\t\t\t\tnot(isInt( substring( concat(replace(trim( variables('tmpMessageContent') ),'-',''),'~'), 0, 1) )),\r\n\t\t\t\tor(\r\n\t\t\t\t\tisInt( substring( concat(replace(trim( variables('tmpMessageContent') ),'-',''),'~'), 1, 1) ),\r\n\t\t\t\t\tisInt( substring( concat(replace(trim( variables('tmpMessageContent') ),'-',''),'~~'), 2, 1) )\r\n\t\t\t\t)\r\n\t\t\t)\r\n\t\t)\r\n\t),\r\n   \r\n\ttoUpper(trim(split(trim(split(variables('tmpMessageContent'),' ')[0]), ',')[0])),\r\n\t\r\n\tif(\r\n\t\tand(\r\n\t\t\tnot(startsWith(toLower(trim( variables('tmpAttachmentContent') )), 'wak')),\r\n\t\t\tnot(startsWith(toLower(trim( variables('tmpAttachmentContent') )), 'awak')),\r\n\t\t\tnot(startsWith(toLower(trim( variables('tmpAttachmentContent') )), 'sleep')),\r\n\t\t\tnot(startsWith(toLower(trim( variables('tmpAttachmentContent') )), 'asleep')),\r\n\t\t\tnot(startsWith(toLower(trim( variables('tmpAttachmentContent') )), 'bed')),\r\n\t\t\tnot(startsWith(toLower(trim( variables('tmpAttachmentContent') )), 'time')),\r\n\t\t\tnot(startsWith(toLower(trim( variables('tmpAttachmentContent') )), 'hi')),\r\n\t\t\tnot(startsWith(toLower(trim( variables('tmpAttachmentContent') )), 'hello')),\r\n\t\t\tnot(startsWith(toLower(trim( variables('tmpAttachmentContent') )), 'good')),\r\n\t\t\tnot(startsWith(toLower(trim( variables('tmpAttachmentContent') )), 're:')),\r\n\t\t\tor(\r\n\t\t\t\tcontains(variables('tmpAttachmentContent'),' '),\r\n\t\t\t\tcontains(variables('tmpAttachmentContent'),','),\r\n\t\t\t\tand(\r\n\t\t\t\t\tnot(contains( variables('tmpAttachmentContent') , ' ' )),\r\n\t\t\t\t\tnot(contains( variables('tmpAttachmentContent') , ',')),\r\n\t\t\t\t\tgreater( length(trim( variables('tmpAttachmentContent') )), 1 ),\r\n\t\t\t\t\tless( length(trim( variables('tmpAttachmentContent') )), 10 ),\r\n\t\t\t\t\tnot(isInt( substring( concat(replace(trim( variables('tmpAttachmentContent') ),'-',''),'~'), 0, 1) )),\r\n\t\t\t\t\tor(\r\n\t\t\t\t\t\tisInt( substring( concat(replace(trim( variables('tmpAttachmentContent') ),'-',''),'~'), 1, 1) ),\r\n\t\t\t\t\t\tisInt( substring( concat(replace(trim( variables('tmpAttachmentContent') ),'-',''),'~~'), 2, 1) )\r\n\t\t\t\t\t)\r\n\t\t\t\t)\r\n\t\t\t)\r\n\t\t),\r\n\t\t\r\n\t\ttoUpper(trim(split(trim(split(variables('tmpAttachmentContent'),' ')[0]), ',')[0])),\r\n\t\t\r\n\t\tif(\r\n\t\t\tand(\r\n\t\t\t\tnot(startsWith(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 'wak')),\r\n\t\t\t\tnot(startsWith(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 'awak')),\r\n\t\t\t\tnot(startsWith(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 'sleep')),\r\n\t\t\t\tnot(startsWith(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 'asleep')),\r\n\t\t\t\tnot(startsWith(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 'bed')),\r\n\t\t\t\tnot(startsWith(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 'time')),\r\n\t\t\t\tnot(startsWith(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 'hi')),\r\n\t\t\t\tnot(startsWith(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 'hello')),\r\n\t\t\t\tnot(startsWith(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 'good')),\r\n\t\t\t\tnot(startsWith(toLower(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 're:')),\r\n\t\t\t\tor(\r\n\t\t\t\t\tcontains(coalesce(items('Loop_through_each_email')?['subject'],''),' '),\r\n\t\t\t\t\tcontains(coalesce(items('Loop_through_each_email')?['subject'],''),','),\r\n\t\t\t\t\tand(\r\n\t\t\t\t\t\tnot(contains( coalesce(items('Loop_through_each_email')?['subject'],'') , ' ' )),\r\n\t\t\t\t\t\tnot(contains( coalesce(items('Loop_through_each_email')?['subject'],'') , ',')),\r\n\t\t\t\t\t\tgreater( length(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 1 ),\r\n\t\t\t\t\t\tless( length(trim( coalesce(items('Loop_through_each_email')?['subject'],'') )), 10 ),\r\n\t\t\t\t\t\tnot(isInt( substring( concat(replace(trim( coalesce(items('Loop_through_each_email')?['subject'],'') ),'-',''),'~'), 0, 1) )),\r\n\t\t\t\t\t\tor(\r\n\t\t\t\t\t\t\tisInt( substring( concat(replace(trim( coalesce(items('Loop_through_each_email')?['subject'],'') ),'-',''),'~'), 1, 1) ),\r\n\t\t\t\t\t\t\tisInt( substring( concat(replace(trim( coalesce(items('Loop_through_each_email')?['subject'],'') ),'-',''),'~~'), 2, 1) )\r\n\t\t\t\t\t\t)\r\n\t\t\t\t\t)\r\n\t\t\t\t)\r\n\t\t\t),\r\n\t\t\r\n\t\t\ttoUpper(trim(split(trim(split( coalesce(items('Loop_through_each_email')?['subject'],'') ,' ')[0]), ',')[0])),\r\n\t\t\r\n\t\t\t'UNKNOWN'\r\n\t\t)\r\n    )\r\n)"},"description":"Participant Id is everything to the left of the first space or comma in body, or if not found in body, in the attachment content. If not found in either, look in subject. If not found anywhere, return UNKNOWN. Always returns upper case."}},"runAfter":{"Extract_Body_and_Attachment_Contents":["Succeeded"]},"type":"Scope"},"Determine_Sleep_Marker_Type":{"actions":{"Is_this_a_wake_marker":{"actions":{"Set_marker_to_wake":{"type":"SetVariable","inputs":{"name":"tmpIsSleepOrWakeMarker","value":"wake"}}},"else":{"actions":{"Is_this_a_sleep_marker":{"actions":{"Set_marker_to_sleep":{"type":"SetVariable","inputs":{"name":"tmpIsSleepOrWakeMarker","value":"sleep"}}},"else":{"actions":{"Set_marker_to_null":{"type":"SetVariable","inputs":{"name":"tmpIsSleepOrWakeMarker","value":"@{null}"}}}},"expression":{"and":[{"or":[{"contains":["@toLower(variables('tmpMessageContent'))","sleep"]},{"contains":["@toLower(variables('tmpMessageContent'))","bed"]},{"contains":["@toLower(variables('tmpMessageContent'))","bed time"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","sleep"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","bed"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","bed time"]},{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," sleep"]},{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," bed time "]},{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," bedtime "]},{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," asleep "]}]},{"and":[{"not":{"contains":["@toLower(variables('tmpMessageContent'))","wake"]}},{"not":{"contains":["@toLower(variables('tmpMessageContent'))","waking"]}},{"not":{"contains":["@toLower(variables('tmpMessageContent'))","woke"]}},{"not":{"contains":["@toLower(variables('tmpMessageContent'))","awak"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","wake"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","waking"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","woke"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","awak"]}},{"not":{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," wake"]}},{"not":{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," waking"]}},{"not":{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," woke"]}},{"not":{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," awak"]}}]}]},"type":"If"}}},"expression":{"and":[{"or":[{"contains":["@toLower(variables('tmpMessageContent'))","wake"]},{"contains":["@toLower(variables('tmpMessageContent'))","woke"]},{"contains":["@toLower(variables('tmpMessageContent'))","waking"]},{"contains":["@toLower(variables('tmpMessageContent'))","awak"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","wake"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","woke"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","waking"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","awak"]},{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," wake"]},{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," woke"]},{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," waking"]},{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," awak"]}]},{"and":[{"not":{"contains":["@toLower(variables('tmpMessageContent'))","sleep"]}},{"not":{"contains":["@toLower(variables('tmpMessageContent'))","bed"]}},{"not":{"contains":["@toLower(variables('tmpMessageContent'))","bed time"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","sleep"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","bed"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","bed time"]}},{"not":{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," sleep"]}},{"not":{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," bed time "]}},{"not":{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," bedtime "]}},{"not":{"contains":["@toLower(coalesce(items('Loop_through_each_email')?['subject'],''))"," asleep "]}}]}]},"type":"If"}},"runAfter":{"Extract_Participant_Id":["Succeeded"]},"type":"Scope"}},"runAfter":{"Get_emails_(V3)":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Initialize_variable_-_tmpMessageContent":{"runAfter":{"Initialize_variable_-_tmpAttachmentContent":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tmpMessageContent","type":"string"}]}},"Initialize_variable_-_tmpAttachmentContent":{"runAfter":{"Set_Shared_Mailbox_Address_Here":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tmpAttachmentContent","type":"string"}]}},"Set_Shared_Mailbox_Address_Here":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"SharedMailboxAddress","type":"string","value":"sleeptimes@med.umich.edu"}]}},"Initialize_variable_-_tmpParticipantId":{"runAfter":{"Initialize_variable_-_tmpMessageContent":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tmpParticipantId","type":"string","value":"UNKNOWN"}]},"description":"Always uppercase. Default is UNKNOWN."},"Initialize_variable_-_tmpIsSleepOrWakeMaker":{"runAfter":{"Initialize_variable_-_tmpParticipantId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tmpIsSleepOrWakeMarker","type":"string"}]},"description":"Denotes whether the message is a sleep marker or wake marker. Always in lower case to match other source data. Default is empty string."},"Initialize_variable_-_tmpUserEnteredTime":{"runAfter":{"Initialize_variable_-_tmpIsSleepOrWakeMaker":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tmpUserEnteredTime","type":"string"}]}}},"description":"This flow parses SMS-to-email messages in the Sleep Times mailbox that came from a U.S. phone number, and saves the parsed sleep marker data to a spreadsheet. It runs every 20-30 minutes and grabs the latest 25 emails in the Sleep Times mailbox, parses them, and adds the data as new rows in EmailSleepMakers.xlsx (OneDrive). If parsing was successful, the emails are moved to Data-Processed, otherwise they are moved to Data-Failed."},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-1479c526-ab89-41d4-9a48-50388a2b1bd1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"},"shared_excelonlinebusiness-1":{"connectionName":"shared-excelonlinebu-b06cc56e-2757-479a-ab67-11ca15d77e04","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness"}},"flowFailureAlertSubscribed":false,"isManaged":false}}